body {
    background-color: maroon;
}

#header-nav {
    background-color: saddlebrown;
}
.navbar-brand a h1 {
    text-align: left;
    color: aliceblue;
}

.navbar-brand a {
    text-decoration: none;
}

.nav-item a {
    text-decoration: none;
    color: white;
}

a h3 {
    text-align: center;
    font-size: 1.3em;
}

#navbarNav {
    background-color: rgb(65, 44, 34);
    transition-property: all;
    transition-duration: 700ms;
}

.nav-item:hover {
    background-color: rgb(170, 129, 102);
    border-radius: 5px;
}

.nav-item hr {
    color: aliceblue;
    width: 50%;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
}

.our-menu {
    margin-bottom: 20px;
    margin-top: 20px;
}
.chicken {
    background-color: darkgrey;
    height: 700px;
    position: relative;
}

.beef {
    background-color: darkslategrey;
    height: 700px;
    position: relative;
}

.sushi {
    background-color: brown;
    height: 700px;
    position: relative;
}

.back {
    position: absolute;
    bottom: 0;
    text-decoration: none;
    color: saddlebrown;
    background-color: snow;
    border-radius: 4px;
    padding: 4px;
    box-shadow: 3;
}

.back:hover {
background-color:rgb(224, 168, 168) ;
}

.section-title {
font-size: 1.3em;
text-transform: uppercase;
}

/* large device */
@media (min-width:1200px) {
    .row {
        gap: 10px;
    }

#chicken, #beef, #sushi {
    width: 32%;
    margin: 0 auto;
}
}

/* medium device */
@media (min-width:992px) and (max-width:1199px) {
    .row {
        gap: 10px;
    }

#chicken, #beef, #sushi {
    width: 32%;
    margin: 0 auto;
}
}

/* small device */
@media (min-width:768px) and (max-width:991px) {
    .row {
        gap: 10px;
    }

#chicken, #beef {
    width: 49%;
    margin: 0 auto;
}
}

/* Extra Small Device */ 
@media (min-width:576px) {
    .row {
        gap: 10px;
    }
}